{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
<div class="form_log">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Tu es connecté sur {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a></br>
            <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ? </a>
        </div>
    {% endif %}

    <h1 class="">Se connecter</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form_email form-control" required autofocus>
    <label for="inputPassword">Mot de passe </label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    <button class="btn_sub_log" type="submit">
        Se connecter
    </button>
</br>
    <a class="mdp_log " href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ? </a>
</form>
</div>
<div class="content_img_log">
<img src="{{asset ('images/batman.jpeg')}}" class="img_log">
<img src="{{asset ('images/joker.jpeg')}}" class="img_log">
</div>
{% endblock %}
