{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Inscription</h1>
<div class="container">
    <img src="{{asset ('images/flash.jpeg')}}" class="img_register">
    {{ form_start(registrationForm, {'attr': {'class': 'form_style_form'}}) }}
        {{ form_row(registrationForm.pseudo, {'attr': {'class': 'form_style_comment'}}) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'form_style_comment'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        

    <button type="submit" class="btn_reg">Inscription</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
