{% extends 'layout.html.twig' %}

{% block title %}Reset ton password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Changer de mot de passe </h1>
<div class="content_form_rqst">
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entre ton adresse mail et nous vous enverons un lien pour reinitialiser ton mot de passe 
            </small>
        </div>

        <button class="btn_rqst">envoyer</button>
    {{ form_end(requestForm) }}
    <a class="btn_add_pop"  href="{{ path('home') }}">Accueil</a>
</div>    
    <div class="content_rqst">
<img src="{{asset ('images/green.jpeg')}}" class="img_mcpt_bot img_pad">
<img src="{{asset ('images/greenarrow.jpg')}}" class="img_mcpt_bot">
</div>
{% endblock %}