{% extends 'layout.html.twig' %}

{% block title %}Accueil 
{% endblock %}

{% block content %}
</br>
	<h1>
		Les derniers ajouts  
	</h1>
	{% for article in articles %}
		<div class="card card-4 article">
			{% if article.image %}
			<p>Collection: {{ article.category }}</p>
			
			<a href="{{ path('article_showFront', {'id': article.id}) }}">	<img class="photo_pop" src="{{ article.image | url }}" title=" Voir la figurine"></a>
			{% endif %}
			<h4>{{ article.title }}</h4>
			<p>{{ article.rateAverage }} /5 ★</p>
		</div>
	{% else %}
		<tr>
			<td colspan="8">no records found</td>
		</tr>
	{% endfor %}
</br>
</br>
</br>
	<h1>Collections</h1>
	{% for category in categories %}
		<div class="card-categ article">
		<a href="{{ path('category_showFront', {'id': category.id}) }}"><img class="photo_coll" src="{{ asset('/images/'~category.image) }}"title=" Voir la collection"></a>
			<h3>
				{{ category.title }}</h3>
		</div>
	{% else %}
		<tr>
			<td colspan="4">no records found</td>
		</tr>
	{% endfor %}
{% endblock %}
