{% extends 'layout.html.twig' %}

{% block title %}Article
{% endblock %}
{% block content %}
	<h1>
		Figurines
	</h1>
	{% for article in articles %}
	<div class="card card-4 article">
			{% if article.image %}
			<p>Collection: {{ article.category }}</p>
			
			 <a href="{{ path('article_showFront', {'id': article.id}) }}"><img class="photo_pop" src="{{ article.image | url }}"> </a>
			{% endif %}
			<h4>{{ article.title }}</h4>

			<p>{{ article.rateAverage }} /5 ★</p>
			<a id="lien_article" href="{{ path('article_showFront', {'id': article.id}) }}">Voir la figurine</a>
		</div>
	{% else %}
		<tr>
			<td colspan="8">no records found</td>
		</tr>
	{% endfor %}
{% endblock %}
